<div id="placeholder">
    <form <%= D.formFor("create_post") %>>
        <%= D.csrfTag() %>
        <textarea id="msg"></textarea>
        <input type="submit" value="Send"/>
    </form>
    <%= D.render("show_posts") %>
</div>
